@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.blurred {
  filter: blur(5px);
}

header {
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 600px) {
  header h1 {
    display: none;
  }
}
header > svg {
  width: 70px;
  margin-right: 20px;
}
@media screen and (max-width: 600px) {
  header > svg {
    margin-right: 0;
    margin-left: 20px;
  }
}
header > button {
  height: 50px;
  align-self: center;
  margin-left: 50%;
  cursor: pointer;
  background: none;
  border: transparent;
  border-radius: 10px;
  padding: 0 10px;
}
header > button:hover {
  background-color: #d7daba;
  transition: background-color 0.3s;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 15px;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
@media screen and (max-width: 430px) {
  main {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
main .card {
  background: rgb(231, 235, 200);
  background: radial-gradient(circle, rgb(231, 235, 200) 0%, rgba(179, 181, 153, 0.3057598039) 100%);
  height: 300px;
  border-radius: 10px;
}
main .card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin: auto;
}
main .card-bottom {
  margin-bottom: 20px;
}
main .title {
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
}
main .author {
  margin-top: 0;
  text-transform: capitalize;
}
main button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 3px;
  cursor: pointer;
}

.btn-remove {
  margin-top: 3px;
  background-color: #a5a1a1;
}
.btn-remove:hover {
  background-color: #8c8787;
  transition: background-color 0.3s;
}

.read {
  background-color: #3b7f89;
}
.read:hover {
  background-color: #2c5e65;
  transition: background-color 0.3s;
}

.pending {
  background-color: #ec7676;
}
.pending:hover {
  background-color: #e64949;
  transition: background-color 0.3s;
}

.form-section {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  display: none;
}

form {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border-radius: 5px;
  font-weight: 700;
  width: clamp(250px, 300px, 30%);
  background-color: rgba(59, 127, 137, 0.7);
}
form legend {
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;
}

.form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.form-container > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.form-container div:nth-child(4) {
  flex-direction: row;
}
.form-container button {
  margin-bottom: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 2em;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
  background-color: #3b7f89;
}
.form-container button:hover {
  background-color: #336e77;
  transition: background-color 0.3s;
}
.form-container input:not([type=checkbox]) {
  margin-top: 5px;
  height: 20px;
  border: transparent;
  border-radius: 2px;
}/*# sourceMappingURL=style.css.map */